@font-face {
  font-family: "iconfont"; /* Project id 4617680 */
  src: url('iconfont.woff2?t=1720777126583') format('woff2'),
       url('iconfont.woff?t=1720777126583') format('woff'),
       url('iconfont.ttf?t=1720777126583') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miconcustomer-group:before {
  content: "\e85c";
}

.miconmima:before {
  content: "\e668";
}

.miconyonghuming:before {
  content: "\e657";
}

